<div id="flash-messages">
  <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
  <% end %>
</div>

<div class="submission-header">
  <h1 class="submission-title">Submissions</h1>
</div>
<table class="submissions-table">
  <thead>
    <tr class="submissions-header">
      <th>Date</th>
      <th>Submission ID</th>
      <th>Language</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% (@submissions || []).order(created_at: :desc).limit(50).each_with_index do |submission, i| %>
      <tr class="submission-row-<%= i % 2 == 0 ? 'even' : 'odd' %>">
        <td class="submission-centered-cell"><%= submission.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td class="submission-centered-cell"><%= submission.id %></td>
        <td class="submission-centered-cell"><%= submission.programming_language.name.capitalize %></td>
        <td class="submission-centered-cell">
          <a class="submission-status-<%= submission.status %>">
            <%= submission.status %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
