<%= render partial: 'navbar' %>

<div class="problem-list-title">
  Problem List
</div>

<div class="problem-list-box">
  <% @problems.order(:id).each do |problem| %>
    <div class="problem-each">
      <%= problem.id %>
      <%= link_to problem.title, problem_path(problem), class: 'problem-each-title' %>
      <a class="problem-difficulty-<%= problem.difficulty %>" href="/problems?difficulty=<%= problem.difficulty %>">
        <%= problem.difficulty %>
      </a>
      <% if problem.tags.any? %>
        <% problem.tags.each_with_index do |tag, i| %>
          <%= i.zero? ? '' : ', ' %>
          <a class="problem-tag" href="/problems?tag=<%= tag&.name %>">
            <%= tag.name %>
          </a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
