<div class="problem-back">
  <a href="/problems">Back to problem list</a>
</div>

<div class="problem-box">
  <div class="problem-title">
    Problem 
  </div>
  <div class="problem-name">
    <%= @problem.title %>
    <div class="problem-tags">
      <a class="problem-difficulty-<%= @problem.difficulty.downcase %>" href="/problems?difficulty=<%= @problem.difficulty %>">
        <%= @problem.difficulty.camelize %>
      </a>
      <% @problem.tags.each do |tag| %>
        <a class="problem-tag" href="/problems?tag=<%= tag.name %>"><%= tag.name %></a>
      <% end %>
    </div>
  </div>

  <h1 class="problem-description">Description</h1>
  <div class="problem-description-text">
    <%= @problem.description.gsub("\n", "<br />").html_safe %>
  </div>

  <h1 class="problem-examples">
    Examples
  </h1>

  <% @problem.examples.where(is_hidden: false).each do |example| %>
    <div class="problem-example-box">
      <div class="problem-single-example">
        Example <%= example.id %>
      </div>

      <h3>Input</h3>

      <div class="pre-with-numbers">
        <%= example.input.gsub("\n", "<br />").html_safe %>
      </div>

      <h3>Output</h3>

      <div class="pre-with-numbers">
        <%= example.output.gsub("\n", "<br />").html_safe %>
      </div>
    </div>
  <% end %>


  <div class="problem-constraints">
    Constraints
  </div>
  <ul>
    <% @problem.constraints.split("\n").each do |constraint| %>
      <li><%= constraint %></li><br />
    <% end %>
  </ul>
</div>
